@import './variables/main.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $mainBackground;
  color: $mainFontColor;
  font-family: $mainFontFamily;
}

h1 {
  font-size: $mainHeaderSize;
  font-weight: 200;
}

a {
  color: $mainWhite;
  font-weight: 300;
  text-decoration: none;
}