@import './variables/main.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $mainBackground;
  color: $mainFontColor;
  font-family: $mainFontFamily;
}

h1 {
  font-size: $mainHeaderSize;
  font-weight: 200;
}

a {
  position: relative;
  color: $mainWhite;
  font-weight: 300;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background: $mainWhite;
  transition: .5s all ease;
}

a:hover::before {
  width: 100%;
}

button {
  display: block;
  position: relative;
  background-color: transparent;
  color: $mainFontColor;
  border-radius: 5px;
  border: 2px solid $mainRed !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, .4);
  font-size: 1rem;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: $mainRed;
  transition: .4s all ease;
  z-index: -1;
}

button:hover::before {
  width: 100%;
}

footer {
  position: absolute;
  width: 100vw;
  height: 30px;
  bottom: 0;

  span {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    font-size: 0.6rem;
  }
}