// Colors
$mainBackground: #141414;
$mainRed: #cf3333;
$mainWhite: #ffffff;
$footerColor: transparent;

$mainFontColor: $mainWhite;

// Fonts
$mainFontFamily: 'Inter', sans-serif;
$mainHeaderSize: 2rem;