// Colors
$mainBlack: #000000;
$mainGray: #a5a4a4;
$mainBackground: #141414;
$mainRed: #cf3333;
$mainGreen: #38c500;
$mainWhite: #ffffff;

$mainFontColor: $mainWhite;

// Fonts
$mainFontFamily: 'Inter', sans-serif;
$mainHeaderSize: 2rem;